h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
}

pre {
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.page {
    height: 60.9vh;
    margin-top: 20px;
}
