@import "global";

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $background-color;
    font-family: Arial, sans-serif;
}

.header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.header h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #555;
    margin-top: 0.5rem;
}

.carousel-container {
    margin-top: 2rem;
    overflow: hidden;
    width: 200px;
    text-align: center;
    height: 2rem;
}

.carousel-item {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3498db;
    white-space: nowrap;
    /* Ajout de transition sur transform et opacity */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Sortie de l'élément avec un effet de glissement vers la gauche et disparition */
.carousel-leave-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease-out, transform 0.3s ease;
}

/* Entrée de l'élément avec un effet de glissement de la droite avec opacité augmentant */
.carousel-enter-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* L'élément sortant part vers la gauche et devient invisible */
.carousel-leave-to {
    opacity: 0;
    transform: translateX(-100%);
}
